@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: black;
  color: white;
}

@layer components {

  /*
  .item_list {
    @apply text-twitter-icon
  }*/

  .displayNone_media {
    @apply hidden
  }

  .iconsSizeMobile {
    @apply text-4xl -ml-2 mb-5
  }

  .iconHover {
    @apply w-12 h-12 rounded-3xl hover:bg-gray-900 -ml-3 flex justify-center items-center
  }

}